@using Stuff.Models
@model List<Department>

@{
    ViewBag.Title = "Оргструктура";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @*<button id="btnDisplayDeps" class="btn btn-primary">подразделения</button>
    <button id="btnDisplayStuff" class="btn btn-primary">сотрудники</button>*@
</p>
<p class="text-danger">
    @ViewData["ServerError"]
</p>
<p>
    <button id="btnHideDeps">свернуть</button>
    <button id="btnShowDeps">развернуть</button>
</p>
<p id="depsTree">
    @ShowDep(Model)
</p>
@helper ShowDep(IEnumerable<Department> deps)
{
    <ul class="tree">
        @foreach (var dep in deps)
        {
            bool display = dep.OrgStructureLevel == 1;
            <li>
                <div class="panel-title @(display ? String.Empty:"collapsed")" data-toggle="collapse" @String.Format("data-target=#dep{0}-child", dep.Id)>
                    <span class="h4">@dep.Name</span>
                </div>
                <div name="dep-container" @String.Format("id=dep{0}-child", dep.Id) class="panel-collapse @(display ? String.Empty : "collapse")">
                    <div @String.Format("id=dep{0}-stuff", dep.Id) class="panel-collapse dep-stuff">
                        @foreach (Employee emp in dep.GetStuff())
                        {
                            <div><a href="@Url.Action("Index", "Employee", new {id=emp.Id})" target="_blank" class="@(emp.IsChief?"text-danger":String.Empty)">@emp.DisplayName</a></div>
                        }
                    </div>

                    @if (dep.ChildList.Any())
                    {
                        
                        @ShowDep(dep.ChildList)
                        
                    }
                </div>
            </li>
        }
    </ul>
}

@section scripts
{
    <script type="text/javascript">
    $(document).ready(function () { init(); });

    function init() {
        //$("#btnDisplayDeps").click(displayDeps);
        //$("#btnDisplayStuff").click(displayStuff);
        //$("[name='dep-delele']").click(deleteDepartment);
        $("#btnHideDeps").click(hideDeps);
        $("#btnShowDeps").click(showDeps);
    }

    function showDeps() {
        $("[name='dep-container']").collapse('show');
    }
    function hideDeps() {
        $("[name='dep-container']").collapse('hide');
    }

    @*function deleteDepartment(e) {
            var button = $(e.currentTarget);
            var id = $(button).attr('depId');

            $.ajax({
                type: "POST",
                url: "/Department/Delete?id="+id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                //data: { "id": id },
                success: function() {
                    alert(id);
                },
                error: function() {
                    //alert('@ViewData["ServerError"]');
                }
            });
            //alert(id);
        }

    function displayDeps() {
        $("[name='dep-child']").toggle();
        $(this).toggleClass('btn-taped');
    }

    function displayStuff() {
        $("[name='dep-stuff']").toggle();
        $(this).toggleClass('btn-taped');
    }*@
    </script>
}

@Scripts.Render("~/bundles/Department/Index")