@using Stuff.Models
@using Stuff.Objects
@model List<Department>

@{
    ViewBag.Title = "Оргструктура";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @*<button id="btnDisplayDeps" class="btn btn-primary">подразделения</button>
        <button id="btnDisplayStuff" class="btn btn-primary">сотрудники</button>*@
</p>
<p id="loServerError" class="text-danger">
    @ViewData["ServerError"]
</p>
<p>
    <button id="btnHideDeps" class="btn btn-default btn-xs">свернуть</button>
    <button id="btnShowDeps" class="btn btn-default btn-xs">развернуть</button>
</p>
<p id="depsTree">
    @ShowDep(Model)
</p>
@helper ShowDep(IEnumerable<Department> deps)
{
    <ul class="tree">
        @foreach (var dep in deps)
        {
            bool display = dep.OrgStructureLevel == 1;
            <li>
                <div name="dep" depid="@dep.Id" class="panel-title @(display ? String.Empty:"collapsed")" data-toggle="collapse" @String.Format("data-target=#dep{0}-child", dep.Id)>
                    <span class="h4">@dep.Name</span>&nbsp;&nbsp;<span class="text-warning light bold">@dep.EmployeeCount</span>
                </div>
                <div name="dep-container" @String.Format("id=dep{0}-child", dep.Id) class="panel-collapse @(display ? String.Empty : "collapse")">
                    <div name="dep-stuff" @String.Format("id=dep{0}-stuff", dep.Id) class="panel-collapse dep-stuff" depid="@dep.Id">
                        @*@if (display)
                {
                    foreach (Employee emp in dep.GetStuff())
                    {
                        <div class="org-emp">
                            <a href="@Url.Action("Index", "Employee", new {id = emp.Id})" target="_blank" class="@(emp.IsChief ? "text-danger" : String.Empty)" name="emp-name" empid='@emp.Id' emppos="@emp.Position.Name" empcit="@emp.City.Name" empname="@emp.Name" emppatr="@emp.Patronymic" emptel="@emp.WorkNum">@emp.DisplayName</a>
                        </div>
                    }
                }*@
                    </div>

                    @if (dep.ChildList.Any())
                    {
                        @ShowDep(dep.ChildList)
                    }
                </div>
            </li>
        }
    </ul>
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            //$("#btnDisplayDeps").click(displayDeps);
            //$("#btnDisplayStuff").click(displayStuff);
            //$("[name='dep-delele']").click(deleteDepartment);
            $("#btnHideDeps").click(hideDeps);
            $("#btnShowDeps").click(showDeps);
            //displayPhoto($("[name='emp-name']"));


            displayStuff();
            //displayPhoto();
        });

        function displayStuff() {
            //hidden.bs.collapse - событие скрытия панели
            //$('[name="dep-container"]').on('shown.bs.collapse', function (e) {
            //    e.stopPropagation();
            var list = $('[name="dep"]');

            for (var j = 0; j < list.length; j++) {
                //var $depCntnr = $(this);
                var $depCntnr = $(list[j]);
                var idDep = $depCntnr.attr('depid');
                //var idDep = list[j];
                $.ajax({
                    url: '@Url.Action("GetStuff")',
                    data: { idDepartment: idDep },
                    method: 'POST',
                    success: function (data) {
                        if (data.length > 0) {
                            var stuffCntnr = $('[name="dep-stuff"][depid="' + data[0].Department.Id + '"]').get(0);
                            for (var i = 0; i < data.length; i++) {
                                var emp = data[i];
                                var clss = emp.IsChief ? "text-danger" : '';
                                $(stuffCntnr).append('<div class="org-emp"><a href="@Url.Action("Index", "Employee")?id=' + emp.Id + '" target="_blank" class="' + clss + '" name="emp-name" empid="' + emp.Id + '" emppos="' + emp.Position.Name + '" empcit="' + emp.City.Name + '" empname="' + emp.Name + '" emppatr="' + emp.Patronymic + '" emptel="' + emp.WorkNum + '">' + emp.DisplayName + '</a></div>');
                            }
                            displayPhoto();
                        }
                    },
                    error: function (data) {
                        $('#loServerError').Text(data.toString());
                    }
                });
                //displayPhoto();
            }
            //});
        }

        function displayPhoto() {
            $("[name='emp-name']").popover({
                html: true,
                trigger: 'hover',
                content: function() {
                    var $el = $(this);
                    var id = $el.attr('empid');
                    var position = $el.attr('emppos');
                    var city = $el.attr('empcit');
                    var name = $el.attr('empname');
                    var patr = $el.attr('emppatr');
                    var tel = $el.attr('emptel');
                    var url = '@DbModel.OdataServiceUri/Employee/GetPhoto?id=' + id;
                    var img = '<img class="photo-info" src="' + url + '" />';
                    var content = '<p>' + img + '</p><p class="text-center">' + name + ' ' + patr + '</p><p class="text-center">' + position + '</p><p class="text-center">' + city + '</p><p class="text-center">' + tel + '</p>';
                    return content;
                }
            });
        }

        function showDeps() {
            $("[name='dep-container']").collapse('show');
        }

        function hideDeps() {
            $("[name='dep-container']").collapse('hide');
        }

        @*function deleteDepartment(e) {
            var button = $(e.currentTarget);
            var id = $(button).attr('depId');

            $.ajax({
                type: "POST",
                url: "/Department/Delete?id="+id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                //data: { "id": id },
                success: function() {
                    //alert(id);
                },
                error: function() {
                    //alert('@ViewData["ServerError"]');
                }
            });
            //alert(id);
        }

    function displayDeps() {
        $("[name='dep-child']").toggle();
        $(this).toggleClass('btn-taped');
    }

    function displayStuff() {
        $("[name='dep-stuff']").toggle();
        $(this).toggleClass('btn-taped');
    }*@
    </script>
}

@Scripts.Render("~/bundles/Department/Index")